$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.pokemonCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  width: 94%;
  border-radius: 0.25rem;
  // box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  height: fit-content;
  background-color: #fff;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn {
  padding: 0.375rem 1.75rem;
  background-color: lightskyblue !important;
  border-color: lightskyblue !important;
  font-size: 2.4rem;
}

.btn:hover {
  background-color: #3ab7ff !important;
}

.header-form {
  height: calc(3.5em + 0.75rem + 2px);
  border: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
//
